/diagnose.result
/cache

# Ignore Python cache files
__pycache__/
*.py[cod]

/dots/.config/quickshell/ii/.qmlls.ini

# exp-update
/.update-lock

# custom os-release
/os-release

# Emacs auto backup file
*~

# ZSH history
dots/.zsh/.zsh_history

# Stow-managed symlinks (created by running stow from dots/)
.zsh
